body {
text-align: center;
margin: 0;
}
header {
	background-color: #f15b31;
	color: #ffffff;
	padding: 30px 20px;
}
h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
margin: 0;
}
nav{
	background-color: #00a6b3;
	color: #ffffff;
	padding: 20px 0;
}
a{
	margin: 0 20px;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}
#text {
	width: 850px;
	margin: 35px auto;
}
img{
	margin: 0 8px;
}
p {
font-family: "Droid Serif", serif;
}
footer{
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright{
	float: left;
	font-family: Raleway;
}
.message{
	float: right;
	font-family: Raleway;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name{
	color: #f15b31;
	font-weight: 700;
}
a:hover{
	border-bottom: 2px solid white;

}
.board {
	width: 1000px;
	margin: 20px auto;
}
button{
  border: 2px solid #00a6b3;
  border-radius: 6px;
  background: transparent;
  color: black;
  font-weight: bold;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  background-color: #00a6b3;
  color: white;
  border: 2px solid #00a6b3;
}
#result{
	height: 62px;
	position: relative;
}
#box {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	line-height: 62px;
	font-weight: bold;
	font-size: 20px;
}